.mixin.out/*
backups/*
crash-reports/*
downloads/*
journeymap/*
local/*
logs/*
mods/*
saves/*
resourcepacks/*
shaderpacks/*
scripts/*
command_history.txt
minecraftinstance.json
options.txt
patchouli_data.json
realms_persistence.json
usercache.json
usernamecache.json
